
.recipeCard {
    width: 18rem;
    height: 10rem;
    margin: 0 1vh 3vh 1vh;
}

.recipeCard:hover {
    background-color: rgb(249, 249, 249);
}

.recipeCardTitle{
    font-size: 1.3rem;
    text-align: left;
}

.recipeCardText {
    font-size: 1rem;
    text-align: left;
}